{% do use_bottom_script('/tao/scripts/fields/password.js') %}
<span class="tao-fields-password">
    <input
      type="text"
      name="{{ field.name }}"
      class="input string {{ field.classForAdminInput() }}"
      style="{{ field.styleForAdminInput()|raw }}"
      value="{{ item[field.name] }}"
    >
    <a class="btn btn-inverse" data-url="{{ field.apiUrl('generate')|raw}}"><i class="icon-refresh icon-white"></i></a>
</span>