{{ view('table ~ list.header') }}
{{ view('table ~ list.right-buttons') }}
    
<div class="block-simple">
    <div class="block-content">
        {% if count == 0 %}
            {{ view('table ~ list.empty') }}
        {% else %}
            {{ view('table ~ list.navigator-top') }}
            {{ view('table ~ list.before-data') }}
            {{ view('table ~ list.data-table') }}
            {{ view('table ~ list.after-data') }}
        {% endif %}
    </div>
</div>
